{% load staticfiles %}

<link rel="stylesheet" href="{% static 'tl/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'tl/style.css' %}" />



<html lang="en">

	<head>
	    <title>CVS Test & Learn Home Page</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row"> 
				<div class="col-md-2">
					<img src="/static/tl/images/cvs_health_reg_img.png" class="img-responsive">
				</div> 		
				<div class="col-md-10 text-right text-uppercase">
					<h1>Test And Learn</h1>
					<h4>Data Management</h4>
				</div>		
			</div>
			<div class="row">
				<div class="col-md-12">
					<hr>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>This will be an informational paragraph with instructions. Not Sure what this space will contain.</p>
				</div>	
			</div>	
			<div class="row">
				<div class="col-md-3">
					<a class="btn btn-default" href="http://localhost:8000/tl/newtest/" role="button"> Create a New Test</a>
				</div>
				<div class="col-md-9">
					<p>Informational paragraph</p>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-3">
					<a class="btn btn-default" href="http://localhost:8000/tl/modifytest/"role="button"> Modify an Existing Test</a>					
				</div>
				<div class="col-md-9">
					<p>Informational paragraph</p>
				</div>	
			</div>
			<div class="row">
				<div class="col-md-3">
					<h4>Other</h4>					
				</div>
				<div class="col-md-9">
					<p>Informational paragraph</p>					
				</div>	
			</div>
	    </div>
	</body>
</html>


