

{% extends 'tl/base.html' %}



{% block content %}

<div class="row">
	<div class="col-md-12">
		<p>This will be an informational paragraph with instructions. Not Sure what this space will contain!!!!</p>
	</div>	
</div>	
<div class="row">
	<div class="col-md-3">
		<a class="btn btn-default" href="http://localhost:8000/tl/newtest/" role="button"> Create a New Test</a>
	</div>
	<div class="col-md-9">
		<p>Informational paragraph</p>
	</div>	
</div>
<div class="row">
	<div class="col-md-3">
		<a class="btn btn-default" href="http://localhost:8000/tl/updatetest/" role="button"> Update an Existing Test</a>					
	</div>
	<div class="col-md-9">
		<p>Informational paragraph</p>
	</div>	
</div>
<div class="row">
	<div class="col-md-3">
		<h4>Other</h4>					
	</div>
	<div class="col-md-9">
		<p>Informational paragraph</p>					
	</div>	
</div>


{% endblock %}

