
{% extends 'tl/base.html' %}

{% block content %}


<form enctype="multipart/form-data" method="POST" class="post-form"> {% csrf_token %}
	<h4>Test Parameters</h4>

	{% for field in test_form %}
    <div class="fieldWrapper">
        {{ field.label }}
        {{ field }}
    </div>
    {% endfor %}

  	<h4>Dates</h4>
	{{ wavedate_form }}

 	<h4>Products</h4>
	{{ product_form }}

 	<h4>Stores</h4>
	{{ store_form }}
	<button type="submit" class="save btn btn-default"> Save </button>
</form>


{% endblock %}


